.container-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.container-register{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin: 3.5rem;
    padding: 2rem;
    background:#2A284A;
    border-radius: 1rem;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.container-informations{
    display: flex;
    gap: 1rem;
    width: 280px;
    height: 200px;
    padding: 1.5rem;
    margin: 10px;
    background:#2A284A;
    border-radius: 1rem;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

::-webkit-input-placeholder{
    color: white;
}

.container-register input{
    padding: 0.8rem;
    border-radius: 2rem;
    background-color: transparent;
    opacity: 0.8;
    border: 1px rgba(255, 255, 255, 0.26) solid;
    color: white;
}

.send-button{
    padding: 1rem;
    border-radius: 2rem;
    background-color: #8C8BEC;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.send-button:hover{
    background-color:rgb(118, 116, 231);
}

.delete-button{
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
}

.delete-button:hover{
    background-color:#3d3a6e;
}

.icon{
    color: red;
    font-size: 1.8rem;
    cursor:pointer;
    
}

.icons-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}